<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YaziTahtasi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".webView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_web_view" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".DetailPost"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_detail_post" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_user_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".postPage"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.activity_post_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".searchUserPage"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.activity_search_user" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".myProfilePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_my_profile_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".homePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_home_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".registerPage2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_register_page2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".registerPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_register_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".loginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.activity_login_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>